.createUserController {
    max-width: 600px;
}

.appear {
    animation: appearFrames 1s ease-in forwards;
}

@keyframes appearFrames {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}