.stylishTextInput {
    font-size: 20px;
    border: 0px;
    outline: 0px;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: gainsboro; 
    padding: 4px 8px;
    margin: 3px;
}