.flagsCollectionTitleBanner {
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
    font-size: 60px;
    color: grey;
    background-color: gainsboro;
    cursor: pointer;
    padding: 16px;
    word-wrap: break-word;
    transition: 1s;
}