.flagsCollectionView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: space-evenly;
    row-gap: 16px;
}

.flagsCollectionCell {
    border-radius: 16px;
    padding: 16px;
    width: calc(50% - 32px);
    aspect-ratio: 1;
    transition: 0.25s;
}

.dipAnimation {
    animation: dipFrames 0.25s ease-in-out 1;
}

@keyframes dipFrames {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.0);
    }
}

.flagsCollectionCellLabel {
    color: white;
    word-wrap: break-word;
}