.flagsCollectionCell {
    border-radius: 16px;
    padding: 16px;
    width: calc(50% - 32px);
    aspect-ratio: 1;
    transition: 0.25s;
    font-size: 32px;
}

.dipAnimation {
    animation: dipFrames 0.25s ease-in-out 1;
}

@keyframes dipFrames {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.0);
    }
}

.flagsCollectionCellLabel {
    word-wrap: break-word;
}